{
  "presets": ["es2015"],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "babel-plugin-transform-es2015-spread",
    "babel-plugin-transform-object-rest-spread",
    "transform-class-properties"
  ]
}
